{% extends "base.html" %}

{% block title %}Gerenciar Clientes{% endblock %}

{% block content %}
<div class="card" style="width:420px;">
    <h2 style="margin-top:0; color:var(--blue-1)">Clientes</h2>

    <form id="form-cliente" onsubmit="return false;">
        <input id="nome" placeholder="Nome" style="width:100%; padding:8px; margin-top:8px">
        <input id="cpf" placeholder="CPF" style="width:100%; padding:8px; margin-top:8px">
        <button onclick="cadastrarCliente()" style="margin-top:10px; background:var(--blue-2); color:white; padding:10px; border-radius:8px; border:none;">Cadastrar Cliente</button>
    </form>

    <hr style="margin:14px 0">

    <div id="lista-clientes-full"></div>
</div>

<div class="card" style="width:420px;">
    <h2 style="margin-top:0; color:var(--blue-1)">Aluguéis Ativos</h2>
    <div id="lista-alugueis" style="max-height:420px; overflow:auto;"></div>
</div>
{% endblock %}
